<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form method="post">
    <div>
        <label for="add_location">Add Address: </label>
        <input id="add_location" type="text" name="address" />
    </div>
    <div>
        <label for="saved_address">Save as: </label>
        <input id="saved_address" type="text" name="saved" />
    </div>
    <input type="submit" value="Add Location" />
</form>
<a href="stops" type="button">Build Route</a>
</body>
</html>